@font-face {
  font-family: "IBMPlexSansKR-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSansKR-Text";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Text.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #ebecf0;
  color: #000;
  overflow: hidden;
  font-family: "IBMPlexSansKR-Text";
}

.question_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  line-height: 1.3;
  height: 100vh;
}

.question_container .number {
  font-family: "IBMPlexSansKR-Bold";
  padding-top: 30px;
}

.question_container .question {
  font-family: "IBMPlexSansKR-Bold";
  padding: 30px 0px 30px 0px;
}

.answer div {
  padding-bottom: 15px;
}

.answer input {
  cursor: pointer;
}

button {
  font-family: "IBMPlexSansKR-Bold";
  font-size: 20px;
  width: 110px;
  height: 40px;
  margin-top: 30px;
  border-style: none;
  border-radius: 10px;
  background-color: #7f47dd;
  color: #fff;
  cursor: pointer;
}

.image {
  margin-bottom: 30px;
}
