@font-face {
    font-family: "IBMPlexSansKR-Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "IBMPlexSansKR-Text";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Text.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }



.main
{
    padding: 5px;
}
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #9B3EFA;
    color: #000;
    font-family: "IBMPlexSansKR-Bold";
    
}

#main_contents {
    display: flex;
    justify-content: center;
    width: 100%;

    margin-top: 100px;
}

#main_contents .wrapper {
    display: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color:#B87AFB;
    border-radius:40px 40px 40px 40px;
    max-width: 600px;
}

.title {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 70px;
}

.main_title {
    font-family: "IBMPlexSansKR-Bold";
    font-size: 50px;
    padding-bottom: 15px;
}

.start {
    
    width: 400px;
    height: 70px;
    padding: 5px;
    border-style: none;
    border-radius: 10px;
    font-family: "IBMPlexSansKR-Text";
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #fff;
    color: #7F47DD;
    margin-top: 70px;
    margin-bottom: 30px;
}

.button .start:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 4px rgba(0, 0, 0, 0.2);
}

ul{
    list-style:none;
}

.notyet {
    width: 400px;
    height: 70px;
    padding: 5px;
    border-style: none;
    border-radius: 10px;
    font-family: "IBMPlexSansKR-Text";
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #514E52;
    color: #282229;
    margin-bottom: 30px;
    
}
